@import "tailwindcss";

@theme {
  --font-display: "Helvetica", "sans-serif";
  --text-96: 5.5rem;
  --text-40: 2rem;
  --text-50: 2.7rem;
  --breakpoint-3xl: 1920px;
  --color-grey-100: #F5F7F7; 
  --color-grey-200: #DFDFDF;  
  --color-grey-300: #F1F1F1;  
  --color-back-100: #F5F5F5;
  --color-red-100:  #FE5F58;
  --color-red-200:  #EE534A;
  --color-green-100: #46FB47;
  --color-green-200: #28C840;
  --color-green-300: #1EAA27;
  --color-yellow-100: #FFBC30;
  --color-yellow-200: #EAA92E;
}

::selection {
  background-color: #46FB47;
  color: #000;
}

/* Fjern ALLE browser-cursors */
* {
  cursor: none !important;
}

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 99999;
  background: white;
  mix-blend-mode: difference;
  transition: background 0.15s ease;
}

.custom-cursor.cursor-active {
  background: #46FB47;
}

.hover-media {
  position: fixed;
  z-index: 9999; /* højere end ScrollSmoother */
}

.modal {
  position: fixed;
  z-index: 99999;
}


html {
  scroll-behavior: smooth;
}

